.top30{
    margin-top: 30px;
}

.max-w-300{
 max-width: 300px;
}

.w100{
   width: 100% !important;
}

.top200{
   margin-top: 200px;
}

.top50{
    margin-top: 50px;
}

.bottom30{
    margin-bottom: 30px;
}

.top10{
    margin-top: 10px;
}